/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-family: "pt_serifregular", sans-serif;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.banner {
  /* 1. Få elementerne til at stå ved siden af hinanden og brug justify-content til at skubbe dem væk fra hinanden */
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px 40px;
}

.main-menu ul {
  list-style: none;
  padding: 0;

  /* 2. Få elementerne til at stå ved siden af hinanden */
  display: flex;
  gap: 6rem;
}

/* burgermenu */
.toggle-btn {
  background: url(ai/burgermenu.svg);
  border: none;
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
  display: none;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block;
    color: #69bfaf;
  }

  .main-menu.shown {
    display: contents;
  }

  .main-menu ul {
    display: none;
  }

  .main-menu.shown ul {
    border-top: 1px solid red;
    padding-top: 1rem;
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
  }
}

header {
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 0.3rem 2.5rem;
  position: sticky;
  align-items: baseline;
  font-family: "antique-olive", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  background-color: #fce1fc;
  z-index: 100;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
  overflow-x: auto;
  font-weight: 300;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
}

nav ul a {
  list-style-type: none;
  text-decoration: none;
  color: #0460d9;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #0460d9;
}

body {
  background-color: #ffd4fd;
}

main {
  margin: 3rem 1rem 28rem 1rem;
  padding: 20px;
  padding-bottom: 6rem;
}

footer {
  margin: 0rem;
  padding: 3rem 2rem 3rem 2rem;
  text-align: left;
  background-color: #0b1770;
  margin-top: 40px;
}

.footer {
  color: #ffd4fd;
  font-family: "antique-olive", sans-serif;
  font-size: 0.7rem;
  font-weight: 100;
}

h1 {
  font-family: "antique-olive", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  color: #0460d9;
  text-align: center;
}

.portfolie {
  font-family: "ganache", sans-serif;
  font-weight: 400;
}

.kasse {
  border-style: double;
  border-color: red;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
  transition: all 0.6s ease;
}

.kasse2 {
  border-style: double;
  border-color: red;
  text-align: center;
  transition: all 0.6s ease;
}

.kasse:hover {
  transform: scale(1.03);
}

.kasse2:hover {
  transform: scale(1.03);
}

.kasse1 {
  border-style: double;
  border-color: #ffd4fd;
  margin-bottom: 1rem;
  padding: 1rem 1rem 1rem 1rem;
}

h2 {
  font-family: "antique-olive", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  color: #0460d9;
  padding: 0.6rem 0rem 0.5rem 0.6rem;
}

h3 {
  font-family: "antique-olive", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #0460d9;
  padding: 0.6rem 0rem 0.5rem 0.6rem;
}

h4 {
  font-size: 1rem;
  font-family: "antique-olive", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #0460d9;
}

.lille {
  font-size: 2rem;
  font-family: "ganache", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.overskrift_padding {
  padding-bottom: 3rem;
  padding-top: 0;
}

.main_portfolie {
  margin: 0rem 1rem 0rem 1rem;
}

.tekst2 {
  padding: 0rem 0rem 0.5rem 0.6rem;
}

img {
  padding: 0.6rem 0rem 0.5rem 0.6rem;
}

.img2 {
  padding: 0rem 0rem 0.5rem 0.6rem;
}

p {
  color: #0b1770;
  font-family: "corporate-a", serif;
  font-size: 1.06rem;
  padding: 0.6rem 0rem 0.5rem 0.6rem;
}
.billede_tekst {
  padding: 0rem 0rem 0rem 0.6rem;
  font-size: 0.8rem;
  color: #0b1770;
}

.ikon {
  width: 80%;
}

.body {
  background-image: url(ai/blomst2.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 17rem;
}

a {
  color: red;
}

@media (min-width: 800px) {
  .portfolie {
    font-size: 7rem;
  }

  p {
    color: #0b1770;
    font-family: corporate-a, serif;
    font-size: 1.1rem;
  }

  .p_overst {
    padding: 0rem 1rem 0rem 0rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  .h2_tema {
    font-family: "antique-olive", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4rem;
    color: #0460d9;
    text-align: center;
  }

  main {
    margin: 1rem 15rem 25rem 15rem;
  }

  .main_portfolie {
    margin: 0rem 12rem 0rem 12rem;
  }

  .billede_tekst {
    padding: 0rem 0rem 0rem 0.6rem;
    font-size: 0.8rem;
  }

  footer {
    margin: 0rem;
    padding: 8rem 13rem 7rem 13rem;
    background-color: #0b1770;
    margin-top: 40px;
  }

  .footer {
    color: #ffd4fd;
    font-family: "antique-olive", sans-serif;
    font-size: 0.77rem;
    font-weight: 100;
  }

  .ikon {
    width: 35%;
    text-align: center;
  }

  .design_padding {
    padding-top: 2rem;
  }

  .body {
    background-image: url(ai/baggrund11.svg);
    background-repeat: no-repeat;
    background-position-x: -17rem;
    background-position-y: -15rem;
  }

  .body_tema {
    background-image: url(ai/blomst3_side.svg), url(ai/korn_stor_side.svg), url(ai/blomst2_side.svg), url(ai/korn_lille.svg);
    background-repeat: no-repeat;
    background-position-x: 80rem, 82rem, -5rem, 7rem;
    background-position-y: 10rem, 70rem, 40rem, 140rem;
  }

  .body_port {
    background-image: url(ai/blomst3_side.svg), url(ai/korn_stor_side.svg), url(ai/blomst2_side.svg);
    background-repeat: no-repeat;
    background-position-x: 80rem, 82rem, -5rem, 7rem;
    background-position-y: 10rem, 52rem, 40rem, 135rem;
  }
}
